*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #252525;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid #55555588;
  color: #efefef;
  background-color: #303030;
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
  cursor: default;
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.container p {
  cursor: default;
  font-family: monospace;
  font-size: 0.9rem;
  text-align: center;
  opacity: 0.75;
}

.container button {
  cursor: pointer;
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem;
  color: #efefef;
  background-color: #353535;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #454545;
  box-shadow: 0px 6px 0px 0px #454545;
  transition: all 0.4s ease-in-out;
}

.container button:hover {
  color: #252f25;
  background-color: #55ff65;
}

.container button:active {
  transform: translateY(6px);
  box-shadow: 0px 0px 0px 0px #454545;
}